<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
  <link href="static/CSS/main.css" rel="stylesheet">
</head>

<body>

<div class="topnav">
  <a  href="http://192.168.43.231:5000/">Home</a>
  <a href="http://192.168.43.231:5000/charts">Discount Analysis</a>
  <a href="http://192.168.43.231:5000/charts1">Rating Wise Product Analysis</a>
  <a  class="active" href="http://192.168.43.231:5000/charts2">Rating wise Price And Reviewer Analysis</a>
</div>
  <center>
    <h1>{{ title }}</h1>
  </center>
  <center>

    <div style="position:absolute;top:50px;left:0px;">
      <h1>Rating Range wise Minimum Reviewer</h1>
      <canvas id="chart" width="660" height="400" style="border: 1px solid #ccc;"></canvas>
      <center>Rating Range</center>
                        <Div style="position:absolute;top:300px;left:-50px;transform: rotate(-90deg);z-index:10;">Number Of Reviewer</Div>
    </div>
    <div style="position:absolute;top:50px;right:0px;">
      <h1>Rating Range wise Maximum Reviewer</h1>
      <canvas id="chart1" width="660" height="400" style="border: 1px solid #ccc;"></canvas>
      <center>Rating Range</center>
                        <Div style="position:absolute;top:300px;left:-62px;transform: rotate(-90deg);z-index:10;">Number Of Reviewer</Div>
    </div>

    <div style="position:absolute;top:550px;left:0px;">
      <h1>Rating Range wise Minimum Price</h1>
      <canvas id="chart2" width="660" height="400" style="border: 1px solid #ccc;"></canvas>
      <center>Rating Range</center>
                        <Div style="position:absolute;top:300px;left:-10px;transform: rotate(-90deg);z-index:10;">Sell Price</Div>
    </div>
    <div style="position:absolute;top:550px;right:0px;">
      <h1>Rating Range wise Maximum Price</h1>
      <canvas id="chart3" width="660" height="400" style="border: 1px solid #ccc;"></canvas>
      <center>Rating Range</center>
                        <Div style="position:absolute;top:300px;left:-20px;transform: rotate(-90deg);z-index:10;">Sell Price</Div>
    </div>



    <script>
      // bar chart data
      var barData = {
        labels : [
          {% for item in labels %}
           "{{ item }}",
          {% endfor %}
	],
        datasets : [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          data : [
            {% for item in values %}
               "{{ item }}",
              {% endfor %}
	    ]
          }
        ]
      }
     // get bar chart canvas



     var mychart = document.getElementById("chart").getContext("2d");
       steps = 2
       max = {{max1}}
     // draw bar chart
     new Chart(mychart).Bar(barData,
    {
       scaleOverride: true,
       scaleSteps: steps,
       scaleStepWidth: Math.ceil(max / steps),
       scaleStartValue: 0,
       scaleShowVerticalLines: true,
       scaleShowGridLines : true,
       barShowStroke : true,
       scaleShowLabels: true

       }
     );

     var barData1 = {
        labels : [
          {% for item in labels1 %}
           "{{ item }}",
          {% endfor %}
	],
        datasets : [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          data : [
            {% for item in values1 %}
               "{{ item }}",
              {% endfor %}
	    ]
          }
        ]
      }
     // get bar chart canvas
     var mychart1 = document.getElementById("chart1").getContext("2d");
       steps = 10
       max = {{max2}}
     // draw bar chart
     new Chart(mychart1).Bar(barData1, {
       scaleOverride: true,
       scaleSteps: steps,
       scaleStepWidth: Math.ceil(max / steps),
       scaleStartValue: 0,
       scaleShowVerticalLines: true,
       scaleShowGridLines : true,
       barShowStroke : true,
       scaleShowLabels: true
       }
     );


     // bar chart data
      var barData2 = {
        labels : [
          {% for item in labels2 %}
           "{{ item }}",
          {% endfor %}
	],
        datasets : [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          data : [
            {% for item in values2 %}
               "{{ item }}",
              {% endfor %}
	    ]
          }
        ]
      }
     // get bar chart canvas
     var mychart2 = document.getElementById("chart2").getContext("2d");
       steps = 10
       max = {{max3}}
     // draw bar chart
     new Chart(mychart2).Bar(barData2, {
       scaleOverride: true,
       scaleSteps: steps,
       scaleStepWidth: Math.ceil(max / steps),
       scaleStartValue: 0,
       scaleShowVerticalLines: true,
       scaleShowGridLines : true,
       barShowStroke : true,
       scaleShowLabels: true
       }
     );


     // bar chart data
      var barData3 = {
        labels : [
          {% for item in labels3 %}
           "{{ item }}",
          {% endfor %}
	],
        datasets : [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          data : [
            {% for item in values3 %}
               "{{ item }}",
              {% endfor %}
	    ]
          }
        ]
      }
     // get bar chart canvas
     var mychart3 = document.getElementById("chart3").getContext("2d");
       steps = 10
       max = {{max4}}
     // draw bar chart
     new Chart(mychart3).Bar(barData3, {
       scaleOverride: true,
       scaleSteps: steps,
       scaleStepWidth: Math.ceil(max / steps),
       scaleStartValue: 0,
       scaleShowVerticalLines: true,
       scaleShowGridLines : true,
       barShowStroke : true,
       scaleShowLabels: true
       }
     );


    </script>

  </center>
</body>
</html>